In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
mosquito_df = pd.read_csv('data_files/Mosquito_Trap_Data.csv')
weather_df = pd.read_csv('data_files/weather_stats_edmonton.csv')

In [3]:
mosquito_df

,Trap Date,Genus,Specific Epithet,Gender,IDd,Count,Trap Region,Include,Comparison Group,Latitude,Longitude,Location
0,09/15/2015 12:00:00 AM,Aedes,vexans,Female,NaN,3,Rural-West,NaN,Outer,53.562973,-113.787353,POINT (-113.787353 53.5629733)
1,05/12/1998 12:00:00 AM,Male,UnID,Male,UnID,1,Rural-North West,NaN,Peripheral,53.617221,-113.716182,POINT (-113.716182 53.617221)
2,08/28/2001 12:00:00 AM,Culex,tarsalis,Female,NaN,1,Rural-North West,NaN,Peripheral,53.617221,-113.716182,POINT (-113.716182 53.617221)
3,08/17/2004 12:00:00 AM,Culex,territans,Female,NaN,1,Rural-North West,NaN,Peripheral,53.617221,-113.716182,POINT (-113.716182 53.617221)
4,05/15/2018 12:00:00 AM,Culiseta,impatiens,Female,NaN,2,Rural-West,NaN,Outer,53.559020,-114.001190,POINT (-114.00119 53.559020000000004)
...,...,...,...,...,...,...,...,...,...,...,...,...
27258,06/17/1997 12:00:00 AM,Aedes,spp.,Female,UnID,2,River Valley-GC1-East,NaN,Core,53.561514,-113.438112,POINT (-113.4381119 53.561514)
27259,06/03/2014 12:00:00 AM,Male,UnID,Male,UnID,2,River Valley-West,NaN,Core,53.504068,-113.570126,POINT (-113.5701263 53.5040684)
27260,07/18/1995 12:00:00 AM,Mansonia,perturbans,Female,NaN,2,River Valley-GC2-East,NaN,Core,53.553358,-113.462632,POINT (-113.462632 53.553358)
27261,08/02/2016 12:00:00 AM,Culex,territans,Female,NaN,2,Rural-North West,NaN,Peripheral,53.619232,-113.712798,POINT (-113.7127984 53.6192317)
27262,08/05/2014 12:00:00 AM,Male,UnID,Male,UnID,42,Rural-East,NaN,Outer,53.606722,-113.221359,POINT (-113.22135870000001 53.6067218)

In [4]:
weather_df

,date_time_local,unixtime,pressure_station,pressure_sea,wind_dir,wind_dir_10s,wind_speed,wind_gust,relative_humidity,dew_point,temperature,windchill,humidex,visibility,health_index,cloud_cover_4,cloud_cover_8,cloud_cover_10,solar_radiation
0,2018-12-18 16:00:00 MST,1545174000,91.73,99.7,SW,23.0,5.0,NaN,64.0,-7.3,-1.3,-3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-12-18 15:00:00 MST,1545170400,91.67,99.7,S,18.0,5.0,NaN,65.0,-6.3,-0.5,-2.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN
2,2018-12-18 14:00:00 MST,1545166800,91.67,99.6,S,17.0,5.0,NaN,51.0,-6.5,2.7,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
3,2018-12-18 13:00:00 MST,1545163200,91.66,99.6,SE,13.0,2.0,NaN,50.0,-6.4,2.9,NaN,NaN,NaN,3.9,NaN,NaN,NaN,NaN
4,2018-12-18 12:00:00 MST,1545159600,91.75,99.7,NaN,NaN,0.0,NaN,59.0,-6.6,0.5,NaN,NaN,NaN,4.1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2016-12-18 21:00:00 MST,1482120000,92.54,100.6,WSW,26.0,15.0,NaN,50.0,-7.2,2.1,NaN,NaN,NaN,2.4,NaN,NaN,NaN,NaN
17516,2016-12-18 20:00:00 MST,1482116400,92.58,100.6,W,26.0,15.0,NaN,52.0,-6.9,2.0,NaN,NaN,NaN,2.3,NaN,NaN,NaN,NaN
17517,2016-12-18 19:00:00 MST,1482112800,92.52,100.6,W,27.0,22.0,33.0,48.0,-7.4,2.6,NaN,NaN,NaN,2.3,NaN,NaN,NaN,NaN
17518,2016-12-18 18:00:00 MST,1482109200,92.52,100.6,WNW,29.0,20.0,33.0,51.0,-6.2,2.9,NaN,NaN,NaN,2.3,NaN,NaN,NaN,NaN
17519,2016-12-18 17:00:00 MST,1482105600,92.51,100.6,WNW,29.0,23.0,35.0,60.0,-4.6,2.4,NaN,NaN,NaN,2.3,NaN,NaN,NaN,NaN

In [5]:
weather_df.dtypes

date_time_local       object
unixtime               int64
pressure_station     float64
pressure_sea         float64
wind_dir              object
wind_dir_10s         float64
wind_speed           float64
wind_gust            float64
relative_humidity    float64
dew_point            float64
temperature          float64
windchill            float64
humidex              float64
visibility           float64
health_index         float64
cloud_cover_4        float64
cloud_cover_8        float64
cloud_cover_10       float64
solar_radiation      float64
dtype: object

# Things to keep in mind and solve:

1. Date format are different between the data sets.
2. Parsing dates from pandas?
3. Remove data missing values?
4. Match TIme Durations between weather and Mosquito DF - Keep only data from weather df